<h1>Libraries</h1>

<div class='well mb-3'>
  <ul id='myTab' class='nav nav-pills' role='tablist'>
    <li class='nav-item'>
      <LinkTo class='nav-link' @route='libraries.index'>List all</LinkTo>
    </li>
    <li class='nav-item'>
      <LinkTo class='nav-link' @route='libraries.new'>Add new</LinkTo>
    </li>
  </ul>
</div>

{{outlet}}